.material-icons {
    color: white;
    justify-content: center;
    font-size: 10rem;
    margin-top: 40px;
}

.material-icons:hover {
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
}

@media (max-width: 620px) {
    .material-icons {
    font-size: 8rem;
    }
    }

@media (max-width: 550px) {
    .material-icons {
    font-size: 6rem;
    }
    }

@media (max-width: 290px) {
    .material-icons {
    font-size: 4rem;
    }
    }

