.block {
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block .connect-header {
    padding-top: 15px;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.block .connect-header h1 {
    font-family: 'Yellowtail', cursive;
font-size: 65px;
}

.block .connect-header p {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
}
