.contact-form input{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

.contact-form h5 {
    font-family: 'Yellowtail', cursive;
    text-align: center;
    padding-top: 10px;
}


