.card-body {
    text-align: center;
    padding-top: 20px;
}

.card-body h1 {
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.card-body h1:hover {
text-decoration: line-through;
}

.card-body .project-name {
    font-family: 'Alata', sans-serif;
    color: black;
}

.card-body .project-descript {
    font-family: 'Pathway Gothic One', sans-serif;
    color: black;
}

.card-body .project-role {
    font-family: 'Pathway Gothic One', sans-serif;
}
