.btn {
    font-size: 13px;
    background-color: white;
    /* font-family: "Sans-serif", Arial; */
    color: black;
    width: 150px;
    border-radius: 55px;
    margin-bottom: 10px;
    border: solid 1.5px black;
}
.btn:hover {
    background: linear-gradient(to bottom, purple 0%, red  100%); 
    color: white;
    /* border: solid 1.5px gray; */
}