.btn {
    font-size: 13px;
    background-color: white;
    color: black;
    width: 150px;
    border-radius: 55px;
    margin-bottom: 10px;
    border: black 1px solid;
}
.btn:hover {
    background: linear-gradient(to bottom, black 0%, gray  100%);
    border: black 1px solid;
    color: white;
}