.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .image-stack__item--top {
    grid-column: 4 / span 12;
    grid-row: 1;
    padding-top: 8%;
    z-index: 1;
  }

  .image-stack__item--bottom {
    grid-column: 5 / -1;
    grid-row: 1;
    size: 1rem;
    padding-left: 5%;
  }

  .stack-image {
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem);
  }

  @media(max-width: 790px) {
    .image-stack__item--top {
      grid-column: 3 / span 12;
    }
  
    .image-stack__item--bottom {
      grid-column: 4 / -1;
    }
  }

  @media(max-width: 550px) {
    .image-stack__item--top {
      grid-column: 2 / span 12;
    }
  
    .image-stack__item--bottom {
      grid-column: 3 / span 12;
    }
  }

  @media(max-width: 410px) {
    .image-stack__item--top {
      grid-column: 1 / span 12;
    }
  
    .image-stack__item--bottom {
      grid-column: 2 / span 12;
    }
  }

  @media(max-width: 410px) {
    .image-stack__item--top {
      grid-column: 0 / span 12;
    }
  
    .image-stack__item--bottom {
      grid-column: 1 / span 12;
      
    }
  }

  