.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .image-stack__item--top {
    grid-column: 3 / span 12;
    grid-row: 1;
    padding-top: 8%;
    z-index: 1;
  }

  .image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1;
    size: 1rem;
    padding-left: 5%;
  }

  .stack-image {
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem);
  }

  @media(max-width: 950px) {
    .image-stack__item--top {
      grid-column: 2 / span 12;
    }
  
    .image-stack__item--bottom {
      grid-column: 3 / -1;
    }
  }

  @media(max-width: 767px) {
    .image-stack__item--top {
      grid-column: 1 / span 12;
    }
  
    .image-stack__item--bottom {
      grid-column: 2 / span 12;
    }
  }

  @media(max-width: 580px) {
    .image-stack__item--top {
      grid-column: 2 / span 12;
    }
  
    .image-stack__item--bottom {
      grid-column: 3 / span 12;
    }
  }

  @media(max-width: 430px) {
    .image-stack__item--top {
      grid-column: 1 / span 12;
    }
  
    .image-stack__item--bottom {
      grid-column: 2 / span 12;
      
    }
  }

  @media(max-width: 360px) {
    .image-stack__item--top {
      grid-column: 2 / span 12;
    }
  
    .image-stack__item--bottom {
      grid-column: 3 / span 12;
      
    }
  }

  @media(max-width: 360px) {
    .image-stack__item--top {
      grid-column: 2 / span 12;
    }
  
    .image-stack__item--bottom {
      grid-column: 3 / span 12;
      
    }
  }

  @media(max-width: 290px) {
    .image-stack__item--top {
      grid-column: 1 / span 12;
    }
  
    .image-stack__item--bottom {
      grid-column: 2 / span 12;
      
    }
  }

  /* .stack-set1 {
    height: 450px;
  }

  @media(max-width:580px){
    .stack-set1 {
      height: 300px;
    }
  }

  @media(max-width:360px){
    .stack-set1 {
      height: 200px;
    }
  } */

  .stack-image {
    height: 450px;
  }

  @media(max-width:580px){
    .stack-image {
      height: 300px;
    }
  }

  @media(max-width:360px){
    .stack-image {
      height: 200px;
    }
  }

  