.foot {
  text-align: center;
  border-top: solid 1px;
  background-color: black;
}

.catch-phrase {
  padding-right: 10px;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

.foot-navcon {
  color: white;
  padding-top: 20px;
  font-size: large;
  font-family: 'Alata', sans-serif;
}

.foot-navcon:hover {
  text-decoration: line-through black;
  color: white;
}

.logo-footer {
  height: 100px;
  /* width: 100px; */
}