.foot {
  text-align: center;
  border-top: solid 1px;
  background-color: black;
  margin-top: 30px;
}

.foot .row {
  display: flex;
  align-items: center;
}

.catch-phrase, .catch-phrase-desc {
  /* font-family: 'Permanent Marker', cursive; */
  color: white;
}

.catch-phrase {
  font-size: 15px;
}

.catch-phrase-desc {
  font-size: 13px;
}

.foot-navcon {
  color: white;
  padding-top: 20px;
  font-size: large;
  font-family: 'Alata', sans-serif;
}

.logo-footer {
  height: 100px;
  /* width: 100px; */
}