.justification {
    justify-content: center;
    display: flex;
}

.justification .timeline-1 {
    height:150px;
}

@media(max-width: 550px){
    .justification .timeline-1 {
        height: 120px;
    }
}

@media(max-width: 430px){
    .justification .timeline-1 {
        height: 90px;
    }
}

@media(max-width: 277px){
    .justification .timeline-1 {
        height: 60px;
    }
}

.justification .avatar-program {
    height:150px;
}

@media(max-width: 550px){
    .justification .avatar-program {
        height: 120px;
    }
}

@media(max-width: 430px){
    .justification .avatar-program {
        height: 90px;
    }
}

@media(max-width: 277px){
    .justification .avatar-program {
        height: 60px;
    }
}

.justification .photo-banner {
    height: 270px;
    width: 100%;
}

@media (max-width: 1076px){
    .justification .photo-banner {
        height: 230px;
    }
}

@media (max-width: 928px) {
    .justification .photo-banner {
        height: 190px;
    }
}

@media (max-width: 764px) {
    .justification .photo-banner {
        height: 160px;
    }
}

@media (max-width: 650px) {
    .justification .photo-banner {
        height: 150px;
    }
}

@media (max-width: 603px) {
    .justification .photo-banner {
        height: 130px;
    }
}

@media (max-width: 529px) {
    .justification .photo-banner {
        height: 100px;
    }
}

@media (max-width: 408px) {
    .justification .photo-banner {
        height: 75px;
    }
}

@media (max-width: 302px) {
    .justification .photo-banner {
        height: 50px;
    }
}

#logo-id {
    height: 250px;
    filter: drop-shadow(0 0 2rem);
}
@media(max-width: 970px) {
    #logo-id {
        height: 200px;
        filter: drop-shadow(0 0 1.5rem);
    }
}

@media(max-width: 636px) {
    #logo-id {
        height: 150px;
        filter: drop-shadow(0 0 1.5rem);
    }
}