.justification {
    justify-content: center;
    display: flex;
}

.justification .timeline-1 {
    height:150px;
}

.justification .avatar-program {
    height:150px;
}

.justification .about-p {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
}