#carouselExampleFade {
  width: 50%;
  margin-bottom: 20px;
}

@media (max-width: 955px) {
  #carouselExampleFade {
    width: 60%;
  }
}

.carousel-item {
  max-height: 350px;
}

@media (max-width: 955px) {
  .carousel-item {
    max-height: 230px;
  }
}

@media (max-width: 800px) {
  .carousel-item {
    max-height: 180px;
  }
}

@media (max-width: 640px) {
  .carousel-item {
    max-height: 160px;
  }
}

@media (max-width: 590px) {
  .carousel-item {
    max-height: 130px;
  }
}

@media (max-width: 480px) {
  .carousel-item {
    max-height: 100px;
  }
}

@media (max-width: 370px) {
  .carousel-item {
    max-height: 85px;
  }
}

@media (max-width: 300px) {
  .carousel-item {
    max-height: 65px;
  }
}