.connect-header {
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: 'Yellowtail', cursive;
    font-size: 65px;
}

#page-title {
    font-size: 95px;
    padding-bottom: 100px;
    padding-top: 90px;
}

@media (max-width: 600px) {
    #page-title {
        font-size: 63px;
        margin-top: 100px;
    }
}

#sub-title {
    font-size: 50px;
    text-align: left;
}

@media (max-width: 600px) {
    #sub-title {
        font-size: 40px;
    }
}

#my-location {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 35px;
    margin-left: 40px;
    text-align: left;
    color: black;
}