.connect-header {
    text-align: center;
    font-size: 65px;
    font-family: 'Alata', sans-serif;
}

#about-title {
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#page-title {
    text-align: center;
    font-size: 90px;
    color: white;
}

@media (max-width: 600px) {
    #page-title {
        font-size: 53px;
    }
}

@media (max-width: 300px) {
    #page-title {
        font-size: 45px;
    }
}

#sub-title {
    font-size: 50px;
    text-align: left;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

@media (max-width: 600px) {
    #sub-title {
        font-size: 40px;
    }
}

#my-location {
    font-family: 'Alata', sans-serif;
    font-size: 25px;
    margin-left: 40px;
    text-align: left;
    color: black;
    padding-top: 20px;
}

@media(max-width: 900px) {
    #my-location {
        margin-left: 30px;
    }
}

@media(max-width: 750px) {
    #my-location {
        font-size: 22px;
    }
}

@media(max-width: 650px) {
    #my-location {
        font-size: 18px;
        margin-left: 20px;
    }
}

@media(max-width: 450px) {
    #my-location {
        font-size: 16px;
        margin-left: 13px;
    }
}