.logo-nav {
    height: 70px;
    position: absolute;
    right: 10px;
    top:10px;
}

.logo-nav {
    animation: rotation 2s infinite;
    animation-direction: alternate-reverse;
  }

  @keyframes rotation {
    from {
      transform: rotateY(0)
    }
    to {
      transform: rotateY(359deg)

    }
  }

.logo-nav:hover {
    animation: rotation2 .30s infinite;
    animation-direction: linear;
  }

  @keyframes rotation2 {
    from {
      transform: rotateY(180deg)
    }
    to {
      transform: rotateY(359deg)

    }
  }

nav {
    background-color: transparent;
    height: 120px;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
}

.locName {
    color: black;
    padding-top: 20px;
}

.locName:hover {
  text-decoration: line-through;
}

.social-icons {
    position: absolute;
    right: 55px;
}

@media (max-width: 991px){
  .navbar-nav {
    background-color: peachpuff;
    width: 255px;
    margin-left: 0px;
    text-align: center;
    border-radius: 10px;
}
  .nav-item {
    /* border: solid black 1px; */
    border-radius: 10px;
  }
  .nav-item:hover {
  background-color: white;
  }
}

@media (min-width: 991px){
  .navbar-nav {
    /* margin-right: 1000px; */
  }
}

