.logo-nav {
    height: 70px;
    width: 100px;
    position: absolute;
    top:10px;
}

.rotate {
    animation: rotation 2s infinite;
    animation-direction: alternate-reverse;
    /* animation-delay: 10s; */
  }

  @keyframes rotation {
    from {
      /* margin-left: 0px; */
      transform: rotateY(0)
    }
    to {
      /* margin-left: 5px; */
      transform: rotateY(359deg)

    }
  }

nav {
    background-color: transparent;
    height: 120px;
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
}

.locName {
    color: black;
    padding-top: 20px;
    margin-left: 100px;
}

.locName:hover {
    color: white;
}

.social-icons {
    position: absolute;
    right: 55px;
}

.navbar-nav {
    text-align: center;
    width: 75%;
}

