nav {
  background-color: transparent;
  font-family: "Alata", sans-serif;
  font-size: 30px;
  z-index: 999;
  width: 100%;
  height: 90px;
  padding: 0px !important;
  position: fixed !important;
}

.navbar-brand {
  margin-right: 0.5rem !important;
}

.locName {
  color: white;
  margin: 0px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

.locName:hover {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

.logo-nav {
  height: 70px;
  right: 10px;
  top: 10px;
  animation-direction: alternate-reverse;
}

.fa {
  width: 35px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.sm-desktop {
  display: none;
}

.sm-desktop .fa {
  font-size: 18px;
}

.sm-mobile .fa {
  font-size: 21px;
}

.fa:hover {
  color: black;
}

.catchphrase-container {
  padding-top: 5px;
  font-size: 10px;
  color: white;
}

.catchphrase-container h6, .catchphrase-container p {
  margin: 3px !important;
}

.social-media {
  margin: 0px;
  color: white;
  text-align: center;
}

.site-identity {
  width: 263px;
  justify-content: end;
}

.show + .site-identity {
  background-color: black;
}

@media screen and (min-width: 768px) {
  .sm-mobile {
    display: none;
  }
  
  .sm-desktop {
    display: initial;
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    background-color: black;
    width: 263px;
    margin-left: 0px;
    text-align: center;
  }

  .nav-item:hover {
    background-color: white;
  }

  .social-media {
    position: unset !important;
    right: unset !important;
  }

  .logo-nav {
    right: 10px;
  }
}
