.hero {
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .hero-intro {
    color: white;
    font-family: 'Yellowtail', cursive;
    font-size: 65px;
    padding-top: 190px;
    padding-left: 15px;
    text-align: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.hero .hero-desc {
    color: black;
    font-family: 'Josefin Slab', serif;
    font-size: 28px;
    padding-left: 15px;
    text-align: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}