.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-intro, .hero .hero-desc {
  color: white;
  font-family: 'Alata', sans-serif;
  cursor: default;
  text-align: center;
}

.hero .hero-intro {
  -webkit-text-stroke-width: 1px;
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  padding-bottom: 3px;
  font-size: 7vw;
  animation: 
  typing 3.5s steps(30, end),
  blink-caret .9s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.hero .hero-desc {
  -webkit-text-stroke-width: 0.05px;
  margin-bottom: 0px;
  width: max-content;
  margin: auto;
  font-size: 4vw;
}


.hero .desc-underline {
  background-color: white;
  height: 1px;
  width: 0%;
  margin: 10px auto;
  animation-name: spread;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes spread {
  from {
    width: 0px;
  }
  to {
    width: 60%;
  }
}

.hero-content-container .homepage-text-container .h1-tag-display-container {
  text-align: right;
}

.hero-content-container .homepage-text-container #h1-tag-display-top::before {
  content: '<h1>';
  color: white;
  margin: 5px;
  font-size: 15px;
  font-family: 'La Belle Aurore',cursive;
  border: none;
  opacity: 50%;
  -webkit-text-stroke-width: 1px;
}

.hero-content-container .homepage-text-container #h1-tag-display-bottom::after {
  content: '</h1>';
  color: white;
  margin: 5px;
  font-size: 15px;
  font-family: 'La Belle Aurore',cursive;
  border: none;
  opacity: 50%;
  -webkit-text-stroke-width: 1px;
}

.hero-content-container .homepage-text-container .hero-desc::before {
  content: '</p>';
  color: white;
  margin: 5px;
  font-size: 15px;
  font-family: 'La Belle Aurore',cursive;
  border: none;
  opacity: 50%;
  -webkit-text-stroke-width: 1px;
}

.hero-content-container .homepage-text-container .hero-desc::after {
  content: '</p>';
  color: white;
  margin: 5px;
  font-size: 15px;
  font-family: 'La Belle Aurore',cursive;
  border: none;
  opacity: 50%;
  -webkit-text-stroke-width: 1px;
}

.button-wrapper {
  text-align: center;
}

.fa-arrow-right {
  padding: 0px;
  margin: 0px;
}

.animated-cursor {
  position: fixed;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-60%, -75%);
  border: 1px solid rgba(255,255,255,0.5);
}

.button-wrapper a, .mouse_scroll {
  font-weight: 600;
}

.mouse_scroll {
  letter-spacing: 3px;
	display: grid;
  justify-content: center;
	margin: 0 auto;
  align-content: end;
  margin-top: 30px;
  color: white;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 3px 0px;
  
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
  margin: auto;
}

.down-arrows {
  margin: auto;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

@media screen and (min-width: 600px) {
  .hero .hero-desc {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }

  .hero .hero-intro {
    margin-bottom: 10px;
    margin-right: 0px;
    font-size: 3.5rem;
  }
}

@media (max-width:1100px) and (min-width:902px) {
  #photography-hero {
    background-position-y: -500px;
  }
}

@media (max-width:500px) {
  #photography-hero {
    background-position-x: -600px;
  }
}