.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-intro, .hero .hero-desc {
  color: white;
  font-family: 'Alata', sans-serif;
  cursor: default;
  text-align: center;
}

.hero .hero-intro {
  -webkit-text-stroke-width: 1px;
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  padding-bottom: 3px;
  font-size: 7vw;
  animation: 
  typing 3.5s steps(30, end),
  blink-caret .9s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.hero .hero-desc {
  -webkit-text-stroke-width: 0.05px;
  margin-bottom: 0px;
  width: max-content;
  margin: auto;
  font-size: 4vw;
}


.hero .desc-underline {
  background-color: white;
  height: 1px;
  width: 0%;
  margin: 10px auto;
  animation-name: spread;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes spread {
  from {
    width: 0px;
  }
  to {
    width: 60%;
  }
}

.hero-content-container .homepage-text-container .h1-tag-display-container {
  text-align: right;
}

.hero-content-container .homepage-text-container #h1-tag-display-top::before {
  content: '<h1>';
  color: white;
  margin: 5px;
  font-size: 15px;
  font-family: 'La Belle Aurore',cursive;
  border: none;
  opacity: 50%;
  -webkit-text-stroke-width: 1px;
}

.hero-content-container .homepage-text-container #h1-tag-display-bottom::after {
  content: '</h1>';
  color: white;
  margin: 5px;
  font-size: 15px;
  font-family: 'La Belle Aurore',cursive;
  border: none;
  opacity: 50%;
  -webkit-text-stroke-width: 1px;
}

.hero-content-container .homepage-text-container .hero-desc::before {
  content: '</p>';
  color: white;
  margin: 5px;
  font-size: 15px;
  font-family: 'La Belle Aurore',cursive;
  border: none;
  opacity: 50%;
  -webkit-text-stroke-width: 1px;
}

.hero-content-container .homepage-text-container .hero-desc::after {
  content: '</p>';
  color: white;
  margin: 5px;
  font-size: 15px;
  font-family: 'La Belle Aurore',cursive;
  border: none;
  opacity: 50%;
  -webkit-text-stroke-width: 1px;
}

.animated-cursor {
  position: fixed;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-60%, -90%);
  border: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: brightness(5);
}

@media screen and (min-width: 600px) {
  .hero .hero-desc {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }

  .hero .hero-intro {
    margin-bottom: 10px;
    margin-right: 0px;
    font-size: 3.5rem;
  }
}

@media (max-width:1100px) and (min-width:902px) {
  #photography-hero {
    background-position-y: -500px;
  }
}

@media (max-width:500px) {
  #photography-hero {
    background-position-x: -600px;
  }
}